* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: "Nunito", sans-serif;
    font-style: normal;

}

.container {
    min-height: 60vh;
    margin-bottom: 6em;
}

body {
    background-color: $color-whiter;
}

input::placeholder, textarea::placeholder {
    font-family: "Nunito", sans-serif;
}

input:focus,textarea:focus {
    outline: none;
}

a, nav button {
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: $color-black;
    transition: .4s;
    font-size: 1em;
    cursor: pointer;
    font-family:  "Nunito", sans-serif;

}

a:hover, nav button:hover {
    color: $color-second;
}